doctype html
<!--[if IE 7]><html class="ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
html(lang="en")
    <!--<![endif]-->
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title new-ui
        link(rel="shortcut icon" href="/favicon.ico")
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css')
        if dist
            link(rel="stylesheet" href="/css/app.min.css")
        else
            link(rel="stylesheet" href="/css/app.css")
    body
        if dist
            script(src='/js/bundle.min.js')
        else
            script(src='/js/vendor.js')
            script(src='/js/templates.js')
            script(src='/js/app.js')
