<div class="test">
    Layout {{path}}

    <a href="/#login" id="button-login" class="ui button">Login</a>
    <a href="/#register" id="button-register" class="ui button">Register</a>

    <div class="module-container">
    </div>
</div>

