<div class="ui vertical menu">
    <a class="teal item active">
        Inbox
        <div class="ui teal label">1</div>
    </a>
    <a class="item">
        Spam
        <div class="ui label">51</div>
    </a>
    <a class="item">
        Updates
        <div class="ui label">1</div>
    </a>
    <div class="item">
        <div class="ui small icon input">
            <input type="text" placeholder="Search mail...">
            <i class="search icon"></i>
        </div>
    </div>
</div>