<div class="ui form segment" style="display: block;">
    <p>Let's go ahead and get you signed up.</p>
    <div class="two fields">
        <div class="field">
            <label>First Name</label>
            <input placeholder="First Name" name="first-name" type="text">
        </div>
        <div class="field">
            <label>Last Name</label>
            <input placeholder="Last Name" name="last-name" type="text">
        </div>
    </div>
    <div class="field">
        <label>Username</label>
        <input placeholder="Username" name="username" type="text">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <div class="inline field">
        <div class="ui checkbox">
            <input type="checkbox" name="terms">
            <label>I agree to the terms and conditions</label>
        </div>
    </div>
    <div class="ui blue submit button">Submit</div>
</div>