<div class="ui tabular menu">
    <a class="item active">
        Dashboard
    </a>
    <a class="item">
        Register
    </a>
    <a class="item">
        Login
        <div class="ui label">1</div>
    </a>
</div>